.heroBody{
    background-image: url("https://cdn.motor1.com/images/mgl/9myenm/s3/bmw-ix2-2024.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    height:100dvh;
    color:#fff;
    .content{
        position:relative;
        left:-300px;  
    }
}

.bmwInfo{
    font-size: 1.5em;
}

.title{
    font-size:8rem;
} 
.message{
    font-size: 1.5rem;
}
.btnDiv{
    display:flex;
    justify-content: center;
    align-items: center;
}
.btn{
    width:150px;
    height:60px;
    margin-right: 2rem;
    cursor:pointer;
    &:hover{
        scale:1.1;
    }
}
.btn1{
background-color: #0d6efd;
@extend .btn;
}
.btn2{
    background-color: #000;
    color:#fff;
    border-color: #fff;
    @extend .btn;
    &:hover{
        border-color: #000;
    }

}